@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  overflow-x: hidden !important;
  overflow-y: auto;

  background-color: #FFF9FB;
  color: #46351D;
  scroll-behavior: smooth;
}

#link {
  font-weight: 600;
  color: #46351D;
}


::-webkit-scrollbar {
  display: block;
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #FFF9FB;
}

::-webkit-scrollbar-thumb {
  background: #46351D;
  border-radius: 4px;
}

#root {
  overflow-x: hidden;
  overflow-y: hidden;
}

#underline {
  color: #FFF9FB;
  cursor: pointer;
  padding: 8px 16px;
  border: 1px solid #46351D;
  background: #46351D;
  border-radius: 2px;
  transition: transform 0.15s ease-in-out;
}

#underline:hover {
  transform: scale(1.1);
}


/* New inverted button style */
#underline-inverted {
  color: #46351D;
  cursor: pointer;
  padding: 8px 16px;
  border: 1px solid #46351D;
  background: #FFF9FB;
  border-radius: 2px;
  transition: transform 0.3s ease;
}

#underline-inverted:hover {
  transform: scale(1.1);
}

html {
  scroll-behavior: smooth;
}

a {
  display: inline;
}

.magnify {
  position: relative;
}

.magnify img {
  width: 100%;
  height: auto;
}

.magnify-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /* Set the size of the magnifier glass */
  width: 100px;
  height: 100px;
}
