@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden !important;
  overflow-y: auto;
  font-family: 'Clash Grotesk', sans-serif;
  background-color: #F7F4EC;
  color: #3A3B3C;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: block;
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #F7F4EC;
}

::-webkit-scrollbar-thumb {
  background: #3A3B3C;
  border-radius: 2px;
}

#root {
  overflow-x: hidden;
  overflow-y: hidden;
}

#underline {
  font-family: 'Clash Display', sans-serif;
  color: #B2AC88;
  cursor: pointer;
  position: relative; /* Needed for positioning the pseudo-element */
  display: inline-block; /* To ensure the pseudo-element aligns correctly */
}

#underline::before {
  content: '';
  position: absolute;
  bottom: 0; /* Position at the bottom of the anchor tag */
  left: 0;
  width: 0; /* Start with no width */
  height: 2px; /* Height of the border */
  background-color: #B2AC88; /* Border color */
  transition: width 0.3s ease;
}

#underline:hover::before {
  width: 100%; /* Full width on hover */
}

@media screen and (max-width: 600px) {
  #underline {
    display: inline;
  }
}

html {
  scroll-behavior: smooth;
}

a {
  display: inline;
}

.magnify {
  position: relative;
}

.magnify img {
  width: 100%;
  height: auto;
}

.magnify-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /* Set the size of the magnifier glass */
  width: 100px;
  height: 100px;
}
